.blueSquare{
  background-color: blue;
  height: 50px;
  width: 50px;
}

.planets-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
}

.planet-info{
  border: 2px solid black;
  border-radius: 5px;
  width: 140px;
  padding: 0px 10px;
}

.title{
  text-align: center;
}